body{
    font-family: 'Montserrat', sans-serif;
}


/* The #banner is synchronizing with <img id="banner" src="../produtosimage/B%20Logo%20white.png"> */
#banner {
    width: 20%;
}

/* The header is synchronizing with <header> */
header {
    background: #363636;
    padding: 20px 0;
}

/* The .caixa is synchronizing with <div class="caixa"> */
.caixa {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

/* The nav is synchronizing with <nav> */
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

/* The nav li is synchronizing with <nav> + <li> */
nav li {
    display: inline;
    margin: 0 0 0 20px;
}

/* The nav a is synchronizing with <nav> + <a> */
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

/* The nav a is synchronizing with <nav> + <a> + hover animation */
nav a:hover {
    color: black;
    text-decoration: underline;
}

/* The .produtos is synchronizing with <ul class="produtos"> */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> */
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #363636;
    border-radius: 20px;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> + hover animation */
.produtos li:hover {
    border-color: yellow;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> + active animation */
.produtos li:active {
    border-color: green;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> + h2 hover animation */
.produtos li:hover h2 {
    font-size: 35px;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <h2> */
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

/* The #vinigay is synchronizing with <img id="vinigay" src="../produtosimage/ViniGay.jpg"> */
#vinigay {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

/* The #vinigay is synchronizing with <img id="vinigay" src="../produtosimage/DDD11.jpg"> */
#ddd11 {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

/* The #vinigay is synchronizing with <img id="vinigay" src="../produtosimage/Askout.jpg"> */
#askout {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

/* The .produto-descricao is synchronizing with <class="produto-descricao"> */
.produto-descricao {
    font-size: 18px;
    margin-top: 10px;
}

/* The .produto-preco is synchronizing with <class="produto-preco"> */
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* The footer is synchronizing with <footer> */
footer {
    text-align: center;
    background: #363636;
    padding: 40px 0;
}

/* The #footer is synchronizing with id="footer" */
#footer {
    width: 10%;
}

/* The copyright is synchronizing with class="copyright" */
.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}

/* The form is synchronizing with <form> */
form {
    margin: 40px 0;
}

/* The form label is synchronizing with <form> + <label> */
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

/* The form input is synchronizing with <form> + <imput> */
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}


/* The form checkbox is synchronizing with <label class="checkbox"> */
.checkbox {
    margin: 20px 0;
}

/* The .enviar is synchronizing with <class="enviar"> */
.enviar {
    width: 40%;
    padding: 15px 0;
    background: #363636;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    transition: 0.5s background;
    cursor: pointer;
}

/* The .enviar is synchronizing with <class="enviar"> */
.enviar:hover {
    background: #272727;
}

/* The table is synchronizing with <table> */
table {
    margin: 20px 0 40px;
}

/* The table is synchronizing with <thead> */
thead {
    background: #363636;
    color: #FFFFFF;
    font-weight: bold;
}

/* The table is synchronizing with <td> and <th> */
td, th {
    border: 1px solid #363636;
    padding: 8px 15px;
}

/* The .banner is synchronizing with <class="banner"> */
.banner {
    width: 100%;
}

/* The .titulo-principal is synchronizing with <class="titulo-principal"> */
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

/* The .principal is synchronizing with <class="principal"> */
.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

/* The .principal p is synchronizing with <class="principal"> + <p> */
.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

/* The .principal em is synchronizing with <class="principal"> + <em> */
.principal em {
    font-style: italic;
}

/* The .utensilios em is synchronizing with <class="utensilios"> */
.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

/* The .mapa em is synchronizing with <class="mapa"> */
.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

/* The .mapa-conteudo em is synchronizing with <class="mapa"> */
.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

/* The .mapa p is synchronizing with <class="mapa"> + p */
.mapa p { 
    margin: 0 0 2em;
    text-align: center;
}

/* The .beneficios is synchronizing with <class="beneficios"> */
.beneficios {
    padding: 3em 0;
    background: #888888;
}

/* The .conteudo-beneficios is synchronizing with <class="conteudo-beneficios"> */
.conteudo-beneficios{ 
    width: 640px;
    margin: 0 auto;
}

/* The .lista-beneficios is synchronizing with <class="lista-beneficios"> */
.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

/* The .itens is synchronizing with <class="itens"> */
.itens {
    line-height: 1.5;
}

/* The .itens:first-child is synchronizing with <class="itens"> + :first-child */
.itens:first-child {
    font-weight: bold;
}

/* The .itens::before is synchronizing with <class="itens"> + ::before */
.itens::before {
    content: "⚝  ";
}

/* The .imagem-beneficios is synchronizing with <class=".imagem-beneficios"> */
.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

/* The .imagem-beneficios is synchronizing with <class=".imagem-beneficios"> + :hover */
.imagem-beneficios:hover {
    opacity: 0.3;
}

/* The .video is synchronizing with <class=".video">  */
.video {
    width: 560px;
    margin: 1em auto;
}

/* @media has the function of modifying the page resolution for mobile, tablet, ... */
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav a {
        font-size: 16px;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}