/* The #banner is synchronizing with <img id="banner" src="../produtosimage/B%20Logo%20white.png"> */
#banner {
    width: 20%;
}

/* The header is synchronizing with <header> */
header {
    background: #363636;
    padding: 20px 0;
}

/* The .caixa is synchronizing with <div class="caixa"> */
.caixa {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

/* The nav is synchronizing with <nav> */
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

/* The nav li is synchronizing with <nav> + <li> */
nav li {
    display: inline;
    margin: 0 0 0 20px;
}

/* The nav a is synchronizing with <nav> + <a> */
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

/* The nav a is synchronizing with <nav> + <a> + hover animation */
nav a:hover {
    color: black;
    text-decoration: underline;
}

/* The .produtos is synchronizing with <ul class="produtos"> */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> */
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #363636;
    border-radius: 20px;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> + hover animation */
.produtos li:hover {
    border-color: yellow;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> + active animation */
.produtos li:active {
    border-color: green;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <li> + h2 hover animation */
.produtos li:hover h2 {
    font-size: 35px;
}

/* The .produtos is synchronizing with <ul class="produtos"> + <h2> */
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

/* The #vinigay is synchronizing with <img id="vinigay" src="../produtosimage/ViniGay.jpg"> */
#vinigay {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

/* The #vinigay is synchronizing with <img id="vinigay" src="../produtosimage/DDD11.jpg"> */
#ddd11 {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

/* The #vinigay is synchronizing with <img id="vinigay" src="../produtosimage/Askout.jpg"> */
#askout {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

/* The .produto-descricao is synchronizing with <class="produto-descricao"> */
.produto-descricao {
    font-size: 18px;
    margin-top: 10px;
}

/* The .produto-preco is synchronizing with <class="produto-preco"> */
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* The footer is synchronizing with <footer> */
footer {
    text-align: center;
    background: #363636;
    padding: 40px 0;
}

/* The #footer is synchronizing with id="footer" */
#footer {
    width: 10%;
}

/* The copyright is synchronizing with class="copyright" */
.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}

/* The main is synchronizing with <main> */
main {
    width: 940px;
    margin: 0 auto;
}

/* The form is synchronizing with <form> */
form {
    margin: 40px 0;
}

/* The form label is synchronizing with <form> + <label> */
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

/* The form input is synchronizing with <form> + <imput> */
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #363636;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    transition: 0.5s background;
    cursor: pointer;
}

.enviar:hover {
    background: #272727;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #363636;
    color: #FFFFFF;
    font-weight: bold;
}

td, th {
    border: 1px solid #363636;
    padding: 8px 15px;
}